/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

p.HeadingRunIn
{
	font-variant: small-caps;
	mc-auto-number-format: '{chapnum}.{n+} ';
}

@media print
{
	p.HeadingRunIn
	{
		
	}
}

span.smallcaps
{
	font-variant: small-caps;
}

span.code
{
	
}

MadCap|helpControlMenuItem
{
	font: monospace;
	font-size: 12pt;
}

pre
{
	margin-top: 0.1em;
	margin-bottom: 0.10em;
	font-size: 10pt;
}

h1
{
	
}

h1.h1
{
	font-weight: bold;
	font-style: normal;
	font-size: 36pt;
}

p.ListOf
{
	
}

